@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/SVN-Poppins-Bold.ttf);
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/SVN-Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/SVN-Poppins-Medium.ttf);
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/SVN-Poppins-Regular.ttf);
  }

  @font-face {
    font-family: Snell Roundhand;
    src: url(./assets/fonts/Snell-Roundhand.ttf) format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url(./assets/fonts/Comfortaa-Regular.ttf) format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url(./assets/fonts/Comfortaa-Light.ttf) format("woff");
    font-weight: lighter;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url(./assets/fonts/Comfortaa-Bold.ttf) format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url(./assets/fonts/Comfortaa-SemiBold.ttf) format("woff");
    font-weight: bolder;
    font-style: normal;
  }
}

@layer utilities {
  .animate-pause {
    animation-play-state: paused !important;
  }
  .animate-running {
    animation-play-state: running !important;
  }
}

:root {
  @apply font-svn-poppins;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.home-page {
  font-family: Comfortaa, Poppins, "sans-serif", "system-ui";
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
}

.common-gradient {
  color: transparent;
  background: linear-gradient(180deg, #ffd324 0%, #ff9f00 100%);
  -webkit-background-clip: text;
  background-clip: text;
}

.stripScrollVertical {
  animation: scroll-vertical var(--animation-duration, 4.5s)
    var(--animation-direction, normal) forwards
    var(--animation-timing-function, linear)
    var(--animation-iteration-count, infinite);
}

@keyframes scroll-vertical {
  to {
    transform: translateY(var(--animation-to-percent, 0%));
  }
}
